@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Fix subpixel rendering in dark mode */
.dark {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
